<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
<extension
         id="br.pucrio.inf.les.genarch.extension.mas.domainModel"
         name="MasDomainModel"
         point="br.pucrio.inf.les.genarch.domainModel">
         <model
               ePackageClass="br.pucrio.inf.les.genarch.extension.mas.MasPackage"
               itemProviderAdapterFactory="br.pucrio.inf.les.genarch.extension.mas.provider.MasItemProviderAdapterFactory"
               name="Mas"
               referenceName="mas"/>
   </extension>
   <extension
         id="br.pucrio.inf.les.genarch.extension.mas.domainModelExtractor"
         name="MasDomainModelExtractor"
         point="br.pucrio.inf.les.genarch.domainModelExtractor">
         <extractor
               class="br.pucrio.inf.les.genarch.extension.mas.extractor.MasExtractor"
               name="MasExtractor"/>
   </extension>
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http:///MasDomainModel.ecore" 
       class = "br.pucrio.inf.les.genarch.extension.mas.provider.MasItemProviderAdapterFactory"
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
       uri = "http:///MasDomainModel.ecore"
       class = "br.pucrio.inf.les.genarch.extension.mas.MasPackage"
       genModel = "metamodel/MasDomainModel.genmodel" /> 
  </extension>
  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "br.pucrio.inf.les.genarch.models.domain.editor.DomainModelEditorID"
        name = "Domain Model Editor"
        icon = "icons/full/obj16/ConfigurationModelModelFile.gif"
        extensions = "mas"
        class = "br.pucrio.inf.les.genarch.models.domain.editor.DomainModelEditor" 
        contributorClass="br.pucrio.inf.les.genarch.models.domain.editor.DomainModelActionBarContributor" >
    </editor>
  </extension>    
</plugin>